<%= render 'shared/error_messages', model: @ky_sheet %>
<div class="main">
  <h3>KY活動チェックシート</h3>
  <div class="previous_page">
    <%= link_to '戻る', site_projects_path(@site) %>
  </div>
  <div data-controller="save-and-preview" data-project-id="<%= @project.id %>">
    <%= form_with model: [@project, @ky_sheet],
                url: project_ky_sheets_path(@project, @ky_sheet),
                method: :post,
                local: true,
                data: { turbo: false },
                html: { id: 'form' } do |f| %>
      <div data-controller="signature">
        <div class="new_form_ky">
          <h4 class="sub_title">入力フォーム</h4>
          <div class="form_block">
            <div class="minimum_block">
              <%= f.label :construction_type_id, '工事種別' %><br>
              <%= f.collection_select(:construction_type_id, ConstructionType.all, :id, :name, {}, 
              {class:"construction_type-select"})
              %>
            </div>
            <div class="minimum_block">
              <%= f.label :construction_date, '作業日' %><br>
              <%= f.date_field :construction_date, value: Date.current %>
            </div>
          </div>
          <div data-controller="assessment">
            <h4 class="sub_title">安全へのKY活動 .1</h4>
            <div class="form_block">
              <details>
                <summary>こちらをクリックしてください</summary>
                <div class="medium_block">
                  <div class="minimum_block">
                    <%= f.label :location_id_1, '主な作業場所' %><br>
                    <%= f.collection_select :location_id_1, @locations, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :construction_content_id_1, '作業内容' %><br>
                    <%= f.collection_select :construction_content_id_1, @construction_contents, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :safety_risk_prediction_id_1, '作業に伴うリスク / 危険Point' %><br>
                    <%= f.collection_select :safety_risk_prediction_id_1, @safety_risk_predictions, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                </div>
                <div class="risk_assessment">リスク評価
                  <div class="risk_rate">
                    <div class="medium_block">
                      <div class="minimum_block">
                        <%= f.label :risk_level_id_1, '危険度' %><br>
                        <%= f.collection_select(
                        :risk_level_id_1, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :incidence_rate_id_1, '発生率' %><br>
                        <%= f.collection_select(
                        :incidence_rate_id_1, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :assessment_result1, 'リスクレベル' %><br>
                        <span class="assessment" id="risk1">---</span>
                        <%= f.hidden_field :assessment_result1, id: 'assessment_result1' %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.label :safety_risk_measure_id_1, 'リスク低減対策' %><br>
                <%= f.collection_select :safety_risk_measure_id_1, @safety_risk_measures, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
                %>
              </details>
            </div>
            <h4 class="sub_title">安全へのKY活動 .2</h4>
            <div class="form_block">
              <details>
                <summary>こちらをクリックしてください</summary>
                <div class="medium_block">
                  <div class="minimum_block">
                    <%= f.label :location_id_2, '主な作業場所' %><br>
                    <%= f.collection_select :location_id_2, @locations, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :construction_content_id_2, '作業内容' %><br>
                    <%= f.collection_select :construction_content_id_2, @construction_contents, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :safety_risk_prediction_id_2, '作業に伴うリスク / 危険Point' %><br>
                    <%= f.collection_select :safety_risk_prediction_id_2, @safety_risk_predictions, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                </div>
                <div class="risk_assessment">リスク評価
                  <div class="risk_rate">
                    <div class="medium_block">
                      <div class="minimum_block">
                        <%= f.label :risk_level_id_2, '危険度' %><br>
                        <%= f.collection_select(
                      :risk_level_id_2, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
                      %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :incidence_rate_id_2, '発生率' %><br>
                        <%= f.collection_select(
                        :incidence_rate_id_2, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :assessment_result2, 'リスクレベル' %><br>
                        <span class="assessment" id="risk2">---</span>
                        <%= f.hidden_field :assessment_result2, id: 'assessment_result2' %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.label :safety_risk_measure_id_2, 'リスク低減対策' %><br>
                <%= f.collection_select :safety_risk_measure_id_2, @safety_risk_measures, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
                %>
              </details>
            </div>
            <h4 class="sub_title">品質へのKY活動</h4>
            <div class="form_block">
              <details>
                <summary>こちらをクリックしてください</summary>
                <div class="medium_block">
                  <div class="minimum_block">
                    <%= f.label :location_id_3, '主な作業場所' %><br>
                    <%= f.collection_select :location_id_3, @locations, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :construction_content_id_3, '作業内容' %><br>
                    <%= f.collection_select :construction_content_id_3, @construction_contents, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :quality_risk_prediction_id, '作業に伴うリスク / 危険Point' %><br>
                    <%= f.collection_select :quality_risk_prediction_id, @quality_risk_predictions, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                </div>
                <div class="risk_assessment">リスク評価
                  <div class="risk_rate">
                    <div class="medium_block">
                      <div class="minimum_block">
                        <%= f.label :risk_level_id_3, '危険度' %><br>
                        <%= f.collection_select(
                        :risk_level_id_3, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :incidence_rate_id_3, '発生率' %><br>
                        <%= f.collection_select(
                        :incidence_rate_id_3, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :assessment_result3, 'リスクレベル' %><br>
                        <span class="assessment" id="risk3">---</span>
                        <%= f.hidden_field :assessment_result3, id: 'assessment_result3' %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.label :quality_risk_measure_id, 'リスク低減対策' %><br>
                <%= f.collection_select :quality_risk_measure_id, @quality_risk_measures, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
                %>
              </details>
            </div>
            <h4 class="sub_title">当該現場で特筆すべきKY活動</h4>
            <div class="form_block">
              <details>
                <summary>こちらをクリックしてください</summary>
                <div class="medium_block">
                  <div class="minimum_block">
                    <%= f.label :location_id_4, '主な作業場所' %><br>
                    <%= f.collection_select :location_id_4, @locations, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :construction_content_id_4, '作業内容' %><br>
                    <%= f.collection_select :construction_content_id_4, @construction_contents, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :site_risk_prediction_id, '作業に伴うリスク / 危険Point' %><br>
                    <%= f.collection_select :site_risk_prediction_id, @site_risk_predictions, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                </div>
                <div class="risk_assessment">リスク評価
                  <div class="risk_rate">
                    <div class="medium_block">
                      <div class="minimum_block">
                        <%= f.label :risk_level_id_4, '危険度' %><br>
                        <%= f.collection_select(
                        :risk_level_id_4, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :incidence_rate_id_4, '発生率' %><br>
                        <%= f.collection_select(
                        :incidence_rate_id_4, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :assessment_result4, 'リスクレベル' %><br>
                        <span class="assessment" id="risk4">---</span>
                        <%= f.hidden_field :assessment_result4, id: 'assessment_result4' %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.label :site_risk_measure_id, 'リスク低減対策' %><br>
                <%= f.collection_select :site_risk_measure_id, @site_risk_measures, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
                %>
              </details>
            </div>
            <h4 class="sub_title">本日のKY重点対策目標</h4>
            <div class="form_block">
              <details>
                <summary>こちらをクリックしてください</summary>
                <div class="medium_block">
                  <div class="minimum_block">
                    <%= f.label :location_id_5, '主な作業場所' %><br>
                    <%= f.collection_select :location_id_5, @locations, :id, :content,
                    { prompt: "選択してください" }, {class: "form-control" }
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :priority_content, '作業内容' %><br>
                    <%= f.text_area :priority_content,
                    placeholder: '作業内容を記述してください'
                    %>
                  </div>
                  <div class="minimum_block">
                    <%= f.label :priority_measure_risk, '作業に伴うリスク / 危険Point' %><br>
                    <%= f.text_area :priority_measure_risk,
                    placeholder: '作業におけるリスクを記述してください'
                    %>
                  </div>
                </div>
                <div class="risk_assessment">リスク評価
                  <div class="risk_rate">
                    <div class="medium_block">
                      <div class="minimum_block">
                        <%= f.label :risk_level_id_5, '危険度' %><br>
                        <%= f.collection_select(
                        :risk_level_id_5, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :incidence_rate_id_5, '発生率' %><br>
                        <%= f.collection_select(
                        :incidence_rate_id_5, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
                        %>
                      </div>
                      <div class="minimum_block">
                        <%= f.label :assessment_result5, 'リスクレベル' %><br>
                        <span class="assessment" id="risk5">---</span>
                        <%= f.hidden_field :assessment_result5, id: 'assessment_result5' %>
                      </div>
                    </div>
                  </div>
                </div>
                <%= f.label :priority_measure, 'リスク低減対策' %><br>
                <%= f.text_area :priority_measure,
                placeholder: 'リスクにおける対策を記述してください'
                %>
              </details>
            </div>
          </div>
          <h4 class="sub_title">作業前チェック項目</h4>
          <div class="form_block">
            <details>
              <summary>こちらをクリックしてください</summary>
              <div class="select_button">
                <div>本日の安全通路及び立ち入り禁止区域について理解している</div>
                <%= f.radio_button :answer_1, 'yes', require: true %>
                <%= f.label :answer_1_yes, 'はい' %>
                <%= f.radio_button :answer_1, 'no', require: true %>
                <%= f.label :answer_1_no, '該当なし' %>
              </div>
              <div class="select_button">
                <div>作業に必要な資格証、工具の許可証を携帯及び表示している</div>
                <%= f.radio_button :answer_2, 'yes', require: true %>
                <%= f.label :answer_2_yes, 'はい' %>
                <%= f.radio_button :answer_2, 'no', require: true %>
                <%= f.label :answer_2_no, '該当なし' %>
              </div>
              <div class="select_button">
                <div>使用する電動工具、仮設材及び作業足場の点検をしている</div>
                <%= f.radio_button :answer_3, 'yes', require: true %>
                <%= f.label :answer_3_yes, 'はい' %>
                <%= f.radio_button :answer_3, 'no', require: true %>
                <%= f.label :answer_3_no, '該当なし' %>
              </div>
              <div class="select_button">
                <div>本日の作業に危険作業に該当するものがあるか把握している</div>
                <%= f.radio_button :answer_4, 'yes', require: true %>
                <%= f.label :answer_4_yes, 'はい' %>
                <%= f.radio_button :answer_4, 'no', require: true %>
                <%= f.label :answer_4_no, '該当なし' %>
              </div>
              <div class="select_button">
                <div>本日の作業計画及び内容を把握している</div>
                <%= f.radio_button :answer_5, 'yes', require: true %>
                <%= f.label :answer_5_yes, 'はい' %>
                <%= f.radio_button :answer_5, 'no', require: true %>
                <%= f.label :answer_5_no, '該当なし' %>
              </div>
              <div class="select_button">
                <div>体調が平常時と異なる作業員がいないか確認している</div>
                <%= f.radio_button :answer_6, 'yes', require: true %>
                <%= f.label :answer_6_yes, 'はい' %>
                <%= f.radio_button :answer_6, 'no', require: true %>
                <%= f.label :answer_6_no, '該当なし' %>
              </div>
            </details>
          </div>
          <h4 class="sub_title">参加者サイン</h4>
          <div class="form_block">
            <div class="worker_sign">
              <canvas class="signature-pad" id="sig6"></canvas>
            </div>
            <%= f.hidden_field :signature_sig6, id: 'signature_sig6' %>
            <button type="button" class="clear" data-canvas-id="sig6">クリア</button>
          </div>
          <h4 class="sub_title">本日の人員</h4>
          <div class="form_block">
            <div class="division">
              <%= f.label :worker, '作業員' %><br>
              <%= f.number_field :worker, min: 0, step: 1, class: 'parson_count' %>人
            </div>
            <div class="division">
              <%= f.label :manager, '現場管理' %><br>
              <%= f.number_field :manager, min: 0, step: 1, class: 'parson_count' %>人
            </div>
          </div>
          <h4 class="sub_title">管理者サインフォーム</h4>
          <div class="form_block">
            <details>
              <summary>こちらをクリックしてください</summary>
              <%= f.label :signature_sig1, '安全へのKY活動 .1　確認サイン' %><br>
              <canvas class="signature-pad" id="sig1"></canvas>
              <%= f.hidden_field :signature_sig1, id: 'signature_sig1' %><br>
              <button type="button" class="clear" data-canvas-id="sig1">クリア</button><br>
              <%= f.label :signature_sig2, '安全へのKY活動 .2　確認サイン' %><br>
              <canvas class="signature-pad" id="sig2"></canvas>
              <%= f.hidden_field :signature_sig2, id: 'signature_sig2' %><br>
              <button type="button" class="clear" data-canvas-id="sig2">クリア</button><br>
              <%= f.label :signature_sig3, '品質へのKY活動　確認サイン' %><br>
              <canvas class="signature-pad" id="sig3"></canvas>
              <%= f.hidden_field :signature_sig3, id: 'signature_sig3' %><br>
              <button type="button" class="clear" data-canvas-id="sig3">クリア</button><br>
              <%= f.label :signature_sig4, '特筆KY活動　確認サイン' %><br>
              <canvas class="signature-pad" id="sig4"></canvas>
              <%= f.hidden_field :signature_sig4, id: 'signature_sig4' %><br>
              <button type="button" class="clear" data-canvas-id="sig4">クリア</button><br>
              <%= f.label :signature_sig5, '本日のKY重点対策目標　確認サイン' %><br>
              <canvas class="signature-pad" id="sig5"></canvas>
              <%= f.hidden_field :signature_sig5, id: 'signature_sig5' %><br>
              <button type="button" class="clear" data-canvas-id="sig5">クリア</button><br>
              <%= f.label :signature_sig11, '現場管理者　サイン' %><br>
              <canvas class="signature-pad" id="sig11"></canvas>
              <%= f.hidden_field :signature_sig11, id: 'signature_sig11' %><br>
              <button type="button" class="clear" data-canvas-id="sig11">クリア</button><br>
              <%= f.label :signature_sig10, '上長　サイン .1' %><br>
              <canvas class="signature-pad" id="sig10"></canvas>
              <%= f.hidden_field :signature_sig10, id: 'signature_sig10' %><br>
              <button type="button" class="clear" data-canvas-id="sig10">クリア</button><br>
              <%= f.label :signature_sig9, '上長　サイン .2' %><br>
              <canvas class="signature-pad" id="sig9"></canvas>
              <%= f.hidden_field :signature_sig9, id: 'signature_sig9' %><br>
              <button type="button" class="clear" data-canvas-id="sig9">クリア</button><br>
              <%= f.label :signature_sig8, '上長　サイン .3' %><br>
              <canvas class="signature-pad" id="sig8"></canvas>
              <%= f.hidden_field :signature_sig8, id: 'signature_sig8' %><br>
              <button type="button" class="clear" data-canvas-id="sig8">クリア</button><br>
              <%= f.label :signature_sig7, '上長　サイン .4' %><br>
              <canvas class="signature-pad" id="sig7"></canvas>
              <%= f.hidden_field :signature_sig7, id: 'signature_sig7' %><br>
              <button type="button" class="clear" data-canvas-id="sig7">クリア</button>
            </details>
          </div>
        </div>
      </div>
      <div class="create_button">
        <%#= f.submit 'Preview PDF', id: 'preview_form', formaction: project_ky_sheets_preview_pdf_path(@project, @ky_sheet) %>
        <%= f.submit "Save PDF", id: 'save_form' %>
      </div>
    <% end %>
  </div>
