<div class="default_format">
  <div class="title">
    <h3>KY活動チェックシート</h3>
    <div class="return"><%= link_to '戻る', site_projects_path(@site) %></div>
  </div>

  <%= form_with model: [@project, @ky_sheet], local: true do |f| %>
  <%#= form_with (model: [@project, @ky_sheet], data: {controller: 'signature_pad', action: 'submit->signature_pad#save'}) do |f| %>
  <div data-controller="signature-pad">
    <div class="ky">
      <div class="top_content">
        <div class="ky_header">
          <div class="header_left">
            <div class="header_name">
              <div class="site_name">現場名　</div>
              <%= @ky_sheet.project.site.name %>
            </div>
            <div class="header_name">
              <div class="construction_name">工事件名　</div>
              <%= @ky_sheet.project.name %>
            </div>
          </div>
          <div class="header_center">
            <div class="header_name">
              <div class="company_name">会社名　</div>
              <%= current_user.company %>
            </div>
            <div class="header_name">
              <div class="construction_type">工事種別　</div>
              <%= f.collection_select(:construction_type_id, ConstructionType.all, :id, :name, {}, 
                {class:"construction_type-select"})
              %>
            </div>
          </div>
          <div class="header_right">
            <div class="header_name">
              <div class="work_day">作業日</div>
              <div class="calendar">
                <%= f.text_field :construction_completion, placeholder: '' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="column_list">主な作業場所</div>
        <div class="column_list">作業内容</div>
        <div class="column_list">作業に伴うリスク / 危険Point</div>
        <div class="risk_evaluation">
          <div class="">リスク評価</div>
          <div class="risk_degree">
            <div class="rate">危険度</div>
            <div class="rate">発生率</div>
          </div>
        </div>
        <div id="", class="column_list">リスクレベル</div>
        <div class="column_list">リスク低減対策</div>
        <div class="column_list">管理者確認サイン</div>
      </div>

      <div class="input_area">
        <div class="safety_measure">
          <div class="sub_title">安全へのKY活動</div>
          <div class="risk_content">
            <div class="location">
              <%= f.collection_select :location_id, @locations, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="action_content">
              <%= f.collection_select :construction_content_id, @construction_contents, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="risk_prediction">
              <%= f.collection_select :safety_risk_prediction_id, @safety_risk_predictions, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="risk_rate">
              <%= f.collection_select(
                :risk_level_id, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
              %>
              <%= f.collection_select(
                :incidence_rate_id, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
              %>
            </div>
            <div class="risk_rate"><%= '〇Ajax' %></div>
            <div class="risk_measure">
              <%= f.collection_select :safety_risk_measure_id, @safety_risk_measures, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="director_sign">
              <canvas class="signature-pad" id="sig1" width="100" height="45"></canvas>
              <%= f.hidden_field :signature %>
            </div>
          </div>
          <div class="risk_content">
            <div class="location">
              <%= f.collection_select :location_id, @locations, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="action_content">
              <%= f.collection_select :construction_content_id,@construction_contents, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="risk_prediction">
              <%= f.collection_select :safety_risk_prediction_id, @safety_risk_predictions, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="risk_rate">
              <%= f.collection_select(
                :risk_level_id, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
              %>
              <%= f.collection_select(
                :incidence_rate_id, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
              %>
            </div>
            <div class="risk_rate"><%= '〇Ajax' %></div>
            <div class="risk_measure">
              <%= f.collection_select :safety_risk_measure_id, @safety_risk_measures, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="director_sign">
              <canvas class="signature-pad" id="sig2" width="100" height="45"></canvas>
              <%= f.hidden_field :signature %>
            </div>
          </div>
        </div>

        <div class="quality_measure">
          <div class="sub_title">品質へのKY活動</div>
          <div class="risk_content">
            <div class="location">
            </div>
              <%= f.collection_select :location_id, @locations, :id, :content,
              { prompt: "選択してください" }, {class: "form-control" }
              %>
            <div class="action_content">
              <%= f.collection_select :construction_content_id, @construction_contents, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="risk_prediction">
              <%= f.collection_select :quality_risk_prediction_id, @quality_risk_predictions, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="risk_rate">
              <%= f.collection_select(
                :risk_level_id, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
              %>
              <%= f.collection_select(
                :incidence_rate_id, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
              %>
            </div>
            <div class="risk_rate"><%= '〇Ajax' %></div>
            <div class="risk_measure">
              <%= f.collection_select :quality_risk_measure_id, @quality_risk_measures, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="director_sign">
              <canvas class="signature-pad" id="sig3" width="100" height="45"></canvas>
              <%= f.hidden_field :signature %>
            </div>
          </div>
        </div>

        <div class="the_site_measure">
          <div class="sub_title">当該現場で特筆すべきKY活動</div>
          <div class="risk_content">
            <div class="location">
              <%= f.collection_select :location_id, @locations, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="action_content">
              <%= f.collection_select :construction_content_id, @construction_contents, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="risk_prediction">
              <%= f.collection_select :site_risk_prediction_id, @site_risk_predictions, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="risk_rate">
              <%= f.collection_select(
                :risk_level_id, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
              %>
              <%= f.collection_select(
                :incidence_rate_id, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
              %>
            </div>
            <div class="risk_rate"><%= '〇Ajax' %></div>
            <div class="risk_measure">
              <%= f.collection_select :site_risk_measure_id, @site_risk_measures, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <div class="director_sign">
              <canvas class="signature-pad" id="sig4" width="100" height="45"></canvas>
              <%# <canvas data-signature-pad-target="canvas" width="150" height="100"></canvas> %>
              <%= f.hidden_field :signature %>
            </div>
          </div>
        </div>
        <div class="priority_measure">
          <div class="sub_title">本日のKY重点対策目標</div>
          <div class="risk_content">
            <div class="location">
              <%= f.collection_select :location_id, @locations, :id, :content,
                { prompt: "選択してください" }, {class: "form-control" }
              %>
            </div>
            <textarea class="action_content"></textarea>
            <textarea class="risk_prediction"></textarea>
            <div class="risk_rate">
              <%= f.collection_select(
                :risk_level_id, RiskLevel.all, :id, :name, {}, {class:"risk_level-select"})
              %>
              <%= f.collection_select(
                :incidence_rate_id, IncidenceRate.all, :id, :name, {}, {class:"incidence_rate-select"})
              %>
            </div>
            <div class="risk_rate"><%= '〇Ajax' %></div>
            <textarea class="risk_measure"></textarea>
            <div class="director_sign">
              <canvas class="signature-pad" id="sig5" width="100" height="45"></canvas>
              <%# <canvas data-signature-pad-target="canvas" width="150" height="100"></canvas> %>
              <%= f.hidden_field :signature %>
            </div>
          </div>
        </div>
      </div>

      <div class="check_area">
        <div class="sub_title">作業前チェック項目</div>
        <div class="check_content_all">
          <div class="check_content_reft">
            <div class="check_content">
              <div>本日の安全通路及び立ち入り禁止区域について理解している</div>
              <div>
                <%= f.radio_button :answer_1, 'yes', require: true %>
                <%= f.label :answer_1_yes, 'はい' %>
                <%= f.radio_button :answer_1, 'no', require: true %>
                <%= f.label :answer_1_no, '該当なし' %>
              </div>
            </div>
            <div class="check_content">
              <div>作業に必要な資格証、工具の許可証を携帯及び表示している</div>
              <div>
                <%= f.radio_button :answer_2, 'yes', require: true %>
                <%= f.label :answer_2_yes, 'はい' %>
                <%= f.radio_button :answer_2, 'no', require: true %>
                <%= f.label :answer_2_no, '該当なし' %>
              </div>
            </div>
            <div class="check_content">
              <div>使用する電動工具、仮設材及び作業足場の点検をしている</div>
              <div>
                <%= f.radio_button :answer_3, 'yes', require: true %>
                <%= f.label :answer_3_yes, 'はい' %>
                <%= f.radio_button :answer_3, 'no', require: true %>
                <%= f.label :answer_3_no, '該当なし' %>
              </div>
            </div>
          </div>
          <div class="check_content_right">
            <div class="check_content">
              <div>本日の作業に危険作業に該当するものがあるか把握している</div>
              <div>
                <%= f.radio_button :answer_4, 'yes', require: true %>
                <%= f.label :answer_4_yes, 'はい' %>
                <%= f.radio_button :answer_4, 'no', require: true %>
                <%= f.label :answer_4_no, '該当なし' %>
              </div>
            </div>
            <div class="check_content">
              <div>本日の作業計画及び内容を把握している</div>
              <div>
                <%= f.radio_button :answer_5, 'yes', require: true %>
                <%= f.label :answer_5_yes, 'はい' %>
                <%= f.radio_button :answer_5, 'no', require: true %>
                <%= f.label :answer_5_no, '該当なし' %>
              </div>
            </div>
            <div class="check_content">
              <div>体調が平常時と異なる作業員がいないか確認している</div>
              <div>
                <%= f.radio_button :answer_6, 'yes', require: true %>
                <%= f.label :answer_6_yes, 'はい' %>
                <%= f.radio_button :answer_6, 'no', require: true %>
                <%= f.label :answer_6_no, '該当なし' %>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="ky_footer">
        <div class="sign_area">
          <div class="footer_title">参加者サイン　
            <%# <button type="button" data-action="click->signature-pad#clear">クリア</button> %>
          </div>
          <div class="sign_box">
            <canvas class="signature-pad" id="sig6" width="400" height="100"></canvas>
            <%# <div data-controlldata-signature-pad-target="canvas"> %>
              <%# <canvas data-signature-pad-target="canvas" width="400" height="100"></canvas> %>
              <%# <button id="save">Save</button>
              <button id="clear">Clear</button> %>
              <%#= f.hidden_field :signature %>
            <%# </div> %>
          </div>
        </div>
        <div class="personnel_area">
          <div class="footer_title">本日の人員</div>
          <div class="personnel">
            <div class="division">
              <div class="footer_title">作業員</div>
              <input class="parson_count">人</input>
            </div>
            <div class="sum">+</div>
            <div class="division">
              <div class="footer_title">現場管理</div>
              <input class="parson_count">人</input>
            </div>
          </div>
        </div>
        <div class="manager_sign_area">
          <div class="footer_title">管理者サイン</div>
          <div class="confirmed_area">
            <div class="confirmed">
              <div class="footer_title">元請</div>
              <div class="sign">
                <canvas class="signature-pad" id="sig7" width="80" height="85"></canvas>
                <%= f.hidden_field :signature %>
              </div>
            </div>
            <div class="confirmed">
              <div class="footer_title">元請</div>
              <div class="sign">
                <canvas class="signature-pad" id="sig8" width="80" height="85"></canvas>
                <%# <canvas data-signature-pad-target="canvas" width="80" height="100"></canvas> %>
                <%= f.hidden_field :signature %>
              </div>
            </div>
            <div class="confirmed">
              <div class="footer_title">上長</div>
              <div class="sign">
                <canvas class="signature-pad" id="sig9" width="80" height="85"></canvas>
                <%# <canvas data-signature-pad-target="canvas" width="80" height="100"></canvas> %>
                <%= f.hidden_field :signature %>
              </div>
            </div>
            <div class="confirmed">
              <div class="footer_title">現場責任者</div>
              <div class="sign">
                <canvas class="signature-pad" id="sig10" width="80" height="85"></canvas>
                <%# <canvas data-signature-pad-target="canvas" width="80" height="100"></canvas> %>
                <%= f.hidden_field :signature %>
              </div>
            </div>
            <div class="confirmed">
              <div class="footer_title">現場担当</div>
              <div class="sign">
                <canvas class="signature-pad" id="sig11" width="80" height="85"></canvas>
                <%# <canvas data-signature-pad-target="canvas" width="80" height="100"></canvas> %>
                <%= f.hidden_field :signature %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
