<%= render "shared/header" %>

<div class="default_format">
  <div class="title">
    <h3>KY活動チェックシート</h3>
    <div class="return"><%= link_to '戻る', site_projects_path(@site) %></div>
  </div>
  <div class="ky">
    <div class="top_content">
      <div class="ky_header">
        <div class="header_left">
          <div class="header_name">
            <div class="site_name">現場名　</div>
            <%= '〇〇アソシエーションで入る〇〇' %>
          </div>
          <div class="header_name">
            <div class="construction_name">工事件名　</div>
            <%= '〇〇アソシエーションで入る〇〇' %>
          </div>
        </div>
        <div class="header_center">
          <div class="header_name">
            <div class="company_name">会社名　</div>
            <%= '〇〇アソシエーションで入る〇〇' %>
          </div>
          <div class="header_name">
            <div class="construction_type">工事種別　</div>
            <%= '〇〇ActiveHash〇〇' %>
          </div>
        </div>
        <div class="header_right">
          <div class="header_name">
            <div class="work_day">作業日</div>
            <div class="calendar">カレンダー</div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="">主な作業場所</div>
      <div class="">作業内容</div>
      <div class="">作業に伴うリスク / 危険Point</div>
      <div class="">リスク評価</div>
      <div class="">
        <div class="">危険度</div>
        <div class="">発生率</div>
      </div>
      <div id="", class="">リスクレベル</div>
      <div class="">リスク低減対策</div>
      <div class="">管理者確認サイン</div>
    </div>
    <div class="input_area">
      <div class="safety_measure">
        <div class="sub_title">安全へのKY活動</div>
        <div class="risk_content">
          <div class="location"><%= link_to '〇登録する！', site_locations_path(@site) %></div>
          <div class="action_content"><%= '〇登録する！' %></div>
          <div class="risk_prediction"><%= '〇登録する！' %></div>
          <div class="risk_measure"><%= '〇登録する！' %></div>
          <div class="risk_rate"><%= '〇登録する！' %></div>
          <div class="risk_rate"><%= '〇登録する！' %></div>
          <div class="risk_rate"><%= '〇登録する！' %></div>
        </div>
        <div class="risk_content">
          <div class="location"><%= '〇〇〇〇' %></div>
          <div class="action_content"><%= '〇〇〇〇' %></div>
          <div class="risk_prediction"><%= '〇〇〇〇' %></div>
          <div class="risk_measure"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
        </div>
      </div>
      <div class="quality_measure">
        <div class="sub_title">品質へのKY活動</div>
        <div class="risk_content">
          <div class="location"><%= '〇〇〇〇' %></div>
          <div class="action_content"><%= '〇〇〇〇' %></div>
          <div class="risk_prediction"><%= '〇〇〇〇' %></div>
          <div class="risk_measure"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
        </div>
      </div>
      <div class="the_site_measure">
        <div class="sub_title">当該現場で特筆すべきKY活動</div>
        <div class="risk_content">
          <div class="location"><%= '〇〇〇〇' %></div>
          <div class="action_content"><%= '〇〇〇〇' %></div>
          <div class="risk_prediction"><%= '〇〇〇〇' %></div>
          <div class="risk_measure"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
        </div>
      </div>
      <div class="priority_measure">
        <div class="sub_title">本日のKY重点対策目標</div>
        <div class="risk_content">
          <div class="location"><%= '〇〇〇〇' %></div>
          <div class="action_content"><%= '〇〇〇〇' %></div>
          <div class="risk_prediction"><%= '〇〇〇〇' %></div>
          <div class="risk_measure"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
          <div class="risk_rate"><%= '〇〇〇〇' %></div>
        </div>
      </div>
    </div>

    <div class="check_area">

    </div>

    <div class="sign_area">

    </div>

  </div>
</div>

<%= render "shared/footer" %>