<div class="main">
  <h3>品質面へのリスク低減対策</h3>
  <div class="site_menu">
    <div class="site_search">
      <%= form_with model: [@site, @quality_risk_measure], local: false do |f| %>
        <%= f.label :content, 'リスク低減対策を入力する' %><br>
        <div class="item_create">
          <%= f.text_area :content, autofocus: true, class: "item_input" %>
          <%= f.submit '作成する', class: 'text_submit' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="previous_page">
    <%= link_to '戻る', item_list_site_path(@site) %>
  </div>
  <%= paginate @quality_risk_measures %>
  <% @quality_risk_measures.each do |quality_risk_measure| %>
    <div class="site_index">
      <div class="title"><%= quality_risk_measure.content %></div>
      <div class="projects">
        <%= link_to '削除', quality_risk_measure_path(quality_risk_measure),
        data: { turbo_method: :delete }
      %>
      </div>
    </div>
  <% end %>
  <%= paginate @quality_risk_measures %>
</div>