<header>
  <div class="logo">
    <div class="logo_image">
      <%= image_tag("/images/ラマImageNameHere.png", size: "85x85", class: "lama_image") %>
    </div>
    <div class="logo_content">
      <h1>らまたんKY</h1>
      <p><span>ら</span>くに、<span>ま</span>いにち、かん<span>たん</span>に。KY(危険予知)管理シート作成アプリ。</p>
    </div>
  </div>
  <ul class="list">
    <li><%= link_to '現場一覧', root_path %></li>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
      </li>
    <% else %>
      <li>
        <%= link_to 'ログイン', new_user_session_path %>
      </li>
      <li>
        <%= link_to '新規登録', new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</header>