<div class="main">
  <h3>工事内容編集ページ</h3>
  <%= form_with model: [@project], local: true do |f| %>
  <%= render 'shared/error_messages', model: @project %>
  <div class="site_new">
    <%= f.label :name, '工事件名' %>
    <%= f.text_field :name, autofocus: true, placeholder: '※必須' %>
    <%= f.label :client, '受注先' %>
    <%= f.text_field :client, placeholder: '' %>
    <%= f.label :construction_start, '工期（着工）' %>
    <%= f.text_field :construction_start, placeholder: '' %>
    <%= f.label :construction_completion, '工期（竣工）' %>
    <%= f.text_field :construction_completion, placeholder: '' %>
    <%= f.label :construction_content, '工事内容' %>
    <%= f.text_field :construction_content, placeholder: '' %>
  </div>
  <div class="button">
    <%= f.submit '変更する' %>
  </div>
  <% end %>
  <div><%= link_to '戻る', site_projects_path(@site), class: 'return' %></div>
</div>