<div class="main">
  <h3><%= @site.name %>　工事一覧</h3>
  <div class="site_menu">
    <input></input>
    <div class="site_search">
      <input type="submit", value="検索する"></input>
    </div>
    <div class="site_create">
      <%= link_to '新規作成', new_site_project_path %>
    </div>
  </div>

  <div class="format">
    <%= link_to '項目を作成する', item_list_site_path(@site) %>
  </div>
  
  <% @projects.each do |project| %>
    <div class="site_index">
      <div class="title">
        <div class="project_name">工事名：<%= project.name %></div>
        <div class="project_detail"><%= project.client %></div>
        <div class="project_detail">
          <%= "#{project.construction_start} 〜 #{project.construction_completion}" %>
        </div>
        <div class="project_detail"><%= project.construction_content %></div>
      </div>
      <div class="projects">
        <%= link_to '編集', edit_project_path(project) %>
        <%= link_to '削除', project_path(project),
          data: { turbo_method: :delete }
        %>
        <%= link_to 'KYシート作成', new_project_ky_sheet_path(project) %>
        <%= link_to '実施済みKYシート一覧', project_ky_sheets_path(project) %>
      </div>
      <div class="form">
      </div>
    </div>
  <% end %>
</div>