<div class="main">
  <h3>安全面へのリスク低減対策</h3>
  <div class="site_menu">
    <div class="site_search">
      <%= form_with model: [@site, @safety_risk_measure], local: false do |f| %>
        <%= f.label :content, 'リスク低減対策を入力する' %><br>
        <div class="item_create">
          <%= f.text_area :content, autofocus: true, class: "item_input" %>
          <%= f.submit '作成する', class: 'text_submit' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="previous_page">
    <%= link_to '戻る', item_list_site_path(@site) %>
  </div>

  <% @safety_risk_measures.each do |safety_risk_measure| %>
  <div class="site_index">
    <div class="title"><%= safety_risk_measure.content %></div>
    <div class="projects">
      <%= link_to '削除', safety_risk_measure_path(safety_risk_measure),
        data: { turbo_method: :delete }
      %>
    </div>
  </div>
  <% end %>
</div>