<%= render "shared/header" %>

<div class="main">
  <h3><%= '〇〇現場'%>実施済みKYシート一覧</h3>
  <div class="site_menu">
    <input></input>
    <div class="site_search">
      <input type="submit", value="検索する"></input>
    </div>
  </div>
  
  <%# @sites.each do |site| %>
    <div class="site_index">
      <div class="title">工事名：〇〇ダクト修繕工事　2023-03-22</div>
      <div class="projects"><%= link_to '工事一覧' %></div>
    </div>
    <div class="site_index">
      <div class="title">工事名：〇〇エリア改修工事　2023-03-24</div>
      <div class="projects"><%= link_to '工事一覧' %></div>
    </div>
    <div class="site_index">
      <div class="title">工事名：〇〇区画消防検査是正対応　2023-04-1</div>
      <div class="projects"><%= link_to '工事一覧' %></div>
    </div>

  <%# end %>

  
</div>

<%= render "shared/footer" %>