<%= render "shared/header" %>

<div class="main">
  <h3>入力項目一覧</h3>
  <div class="site_menu">
    <div class="site_create">
      <%= link_to '戻る', site_projects_path(@site) %>
    </div>
  </div>
  
  <div class="site_index">
    <div class="title">作業場所名称</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する', site_locations_path(@site) %></div>
    </div>
  </div>
  <div class="category"><%= '（現場名）' %>におけるKY活動　※特筆注意事項※</div>
  <div class="site_index">
    <div class="title">作業内容</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">作業に伴うリスク / 危険Point</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">リスク低減対策</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>
  <div class="category">安全へのKY活動</div>
  <div class="site_index">
    <div class="title">作業内容</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">作業に伴うリスク / 危険Point</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">リスク低減対策</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>
  <div class="category">品質へのKY活動</div>
  <div class="site_index">
    <div class="title">作業内容</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">作業に伴うリスク / 危険Point</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">リスク低減対策</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
    </div>
  </div>

  
</div>

<%= render "shared/footer" %>