<%= render "shared/header" %>

<div class="main">
  <h3>作業場所一覧</h3>
  <div class="site_menu">
    <input></input>
    <div class="site_search">
      <input type="submit", value="作成する"></input>
    </div>
    <div class="site_create">
      <%= link_to '戻る' %>
    </div>

  </div>
  
  <div class="site_index">
    <div class="title">PS</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
      <div class="delete"><%= link_to '削除' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">DS</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
      <div class="delete"><%= link_to '削除' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">EPS</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
      <div class="delete"><%= link_to '削除' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">エレベータシャフト</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
      <div class="delete"><%= link_to '削除' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">機械室</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
      <div class="delete"><%= link_to '削除' %></div>
    </div>
  </div>
  <div class="site_index">
    <div class="title">屋上塔屋内　市水高架水槽置き場</div>
    <div class="change">
      <div class="edit"><%= link_to '編集する' %></div>
      <div class="delete"><%= link_to '削除' %></div>
    </div>
  </div>

  
</div>

<%= render "shared/footer" %>