<%= render "shared/header" %>

<div class="main">
  <h3>作業場所作成ページ</h3>
  <%= form_with model: @locations, local: true do |f| %>
  <%= render 'shared/error_messages', model: @locations %>
  <div class="site_new">
    <%= f.label :name, '工事件名' %>
    <%= f.text_field :name, autofocus: true, placeholder: '※必須' %>
    <%= f.label :client, '受注先' %>
    <%= f.text_field :client, placeholder: '' %>
    <%= f.label :construction_start, '工期（着工）' %>
    <%= f.text_field :construction_start, placeholder: '', class: 'datepicker' %>
    <%= f.label :construction_completion, '工期（竣工）' %>
    <%= f.text_field :construction_completion, placeholder: '', class: 'datepicker' %>
    <%= f.label :construction_content, '工事内容' %>
    <%= f.text_field :construction_content, placeholder: '' %>
  </div>
  <div class="button">
    <%= f.submit '作成する' %>
  </div>
  <% end %>
  <div><%= link_to '戻る', project_ky_sheets_path(@project), class: 'return' %></div>
</div>

<%= render "shared/footer" %>