<!DOCTYPE html>
<html>
  <head>
    <title>KYManagementApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/signature_pad@5.0.3/dist/signature_pad.umd.min.js"></script>
  </head>

  <body data-controller="flatpickr-reinitialize">
    <%= render "shared/header" %>
    <%= render "shared/flash" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
